-e git+git://github.com/p-lod/plodlib.git#egg=plodlib

alabaster==0.7.12
asn1crypto==0.24.0
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
blinker==1.4
boxsdk==2.11.0
branca==0.4.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cryptography==2.6.1
docutils==0.16
dominate==2.6.0
entrypoints==0.3
Flask==1.1.2
Flask-MySQLdb==0.2.0
folium==0.12.1
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.27.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gunicorn==20.0.4
httplib2==0.19.0
idna==2.10
imagesize==1.2.0
importlib-metadata==3.4.0
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==17.1.1
keyrings.alt==3.1.1
Markdown==3.3.3
MarkupSafe==1.1.1
mysqlclient==2.0.3
numpy==1.20.1
packaging==20.8
pandas==1.2.2
protobuf==3.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
pycurl==7.43.0.2
Pygments==2.7.3
PyGObject==3.30.4
PyJWT==2.0.1
pyparsing==2.4.7
python-apt==1.8.4.3
python-dateutil==2.8.1
pytz==2020.4
pyxdg==0.25
rdflib==5.0.0
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.7.1
SecretStorage==2.3.1
sentry-sdk==0.20.3
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.1
Sphinx==3.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
typing-extensions==3.7.4.3
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0